old-bottle-anomaly-detection/bottle-anomaly-detection.css
old-bottle-anomaly-detection/bottle-anomaly-detection.html
old-bottle-anomaly-detection/bottle-anomaly-detection.js
old-bottle-anomaly-detection/README.md
